{# templates/menu-section.twig #}

<details class="plateful-menu-section" name="{{ section_name }}" open="true">
  <summary class="plateful-menu-section-title">
    <h3>{{ section_name }}</h3>
    </summary>
    {{ content|raw }}
</div>