.menu-section-title {
	font-weight: bold;
	background: red;
	color: white;
	padding: 2em;
}

.plateful-menu-item {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	gap: 1em;

	p {
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}

	img.plateful-thumbnail {
		flex-grow: 0;
		width: 100px;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.heat-icon {
	width: 10px;
	height: auto;
}
